.content-box {
    min-height: 100px;
    width: 100%;
    margin: 55px auto;
    color: #858585;
    border-radius: 4px;
}

.content-wrapper {
    background-color: #FFF;
}

.shadow {
    -webkit-box-shadow: 0 10px 6px -6px #222d32;
    -moz-box-shadow: 0 10px 6px -6px #222d32;
    box-shadow: 0 10px 6px -6px #222d32;
}

.head {
    background-color: #222d32;
    color: #fff;
    text-align: center;
    height: 45px;
    line-height: 32px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}

.head_profile {
    float: right;
    width: 100%;
    padding: 15px 0 70px 0;
    background: #283048;
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
    text-align: center;
    min-height: 400px;
    color: #fff;
}

.head_profile div ul li p {
    font-weight: 500;
    display: inline;
    direction: ltr;
}

.box-right {
    position: relative;
    background-color: #859398;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 25px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.box-left {
    position: relative;
    background-color: #859398;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 150px;
    height: 30px;
    display: inline-block;
    line-height: 25px;
    margin-right: 3px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

}

.box-right:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 8px;
    border-right: 10px solid #859398;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    z-index: 2;
    transition: 150ms linear;
}

.box-left:after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 1;
    top: 7px;
    border-right: 11px solid #283048;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.box-top {
    margin: 15px auto 3px auto;
    position: relative;
    background-color: #859398;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 253px;
    height: 30px;
    display: block;
    line-height: 25px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

}

.box-top:after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 120px;
    z-index: 2;
    border-top: 11px solid #859398;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transition: 150ms linear;
}

.box-bottom {
    margin: 4px auto 0 auto;
    position: relative;
    background-color: #859398;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 253px;
    height: 85px;
    display: block;
    line-height: 60px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.box-bottom:after {
    content: "";
    position: absolute;
    top: 0;
    left: 120px;
    z-index: 1;
    border-top: 11px solid #283048;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    transition: 150ms linear;
}

@media (max-width: 400px) {
    .box-top, .box-bottom {
        width: 100%;
    }

    .box-top:after, .box-bottom:after {
        left: 50%;
    }
}

.left-box {
    position: relative;
    background-color: #283048;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 100px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 3px;
}

.left-box:after {
    content: "";
    position: absolute;
    border-left: 11px solid #283048;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    left: 100px;
    top: 7px;
    z-index: 2;
}

.right-box {
    position: relative;
    background-color: #283048;
    text-align: center;
    color: white;
    font-size: 16px;
    width: 200px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

.right-box:after {
    content: "";
    position: absolute;
    border-left: 11px solid #859398;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    left: 0px;
    top: 7px;
    z-index: 1;
}

.modal-content {
    border-radius: 4px;
    background-color: #283048;
    color: #FFF;
    font-size: 16px;
}

.edit_profile {
    width: 100%;
    padding: 15px 0 70px 0;
    background: #283048;
    background: -webkit-linear-gradient(to right, #859398, #283048);
    background: linear-gradient(to right, #859398, #283048);
    min-height: 400px;
    color: #fff;
}

.form-group label {

    margin-top: 10px;
}

.form-group input {
    border-radius: 4px;
    width: 95%;
}

.form-group select {
    border-radius: 4px;
    width: 95%;
}

.form-group textarea {
    border-radius: 4px;
    width: 98%;
}

.img_div .form-group input {
    width: 60%;
}

@media (max-width: 400px) {
    .img_div .form-group input {
        width: 100%;
    }

}

.paginate .pagination {
    text-align: center;
    margin-right: 30%;
}

.short_string {
    white-space: nowrap;
    overflow: hidden;
}
table thead tr th , table  tbody tr td {
    white-space: nowrap;
    overflow: hidden;
}
.left-btns{
    padding-left: 42px;
    font-size: 24px;
}
.Cat_head {
    background-color: #222d32;
    color: #fff;
    text-align: right;
    height: 45px;
    line-height: 40px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    padding-right: 10px;
}
.add{
    padding-left: 20px;
}
@media(max-width: 500px){
    .left-btns{
        padding-left: 5px;
    }
    .Cat_head{
        padding-right: 5px;
    }
    .add{
        padding-left: 5px;
    }
}